.about-fund--content {
    padding-top: 90px;
    padding-bottom: 110px;
}

.about-fund__h1 {
    padding-bottom: 40px;
}

.about-fund__section__article {
    margin: 80px 0;
}

.article__h2 {
    width: 100%;
}

.members{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.figure-member{
    padding-right: 10px;
}