header {
    margin: 28px 0 0 0;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.page-left-right-padding {
    padding: 0 32px;
}

.logo {
    position: relative;
    padding: 0 0 23px 0;
}

.logo--redirect {
    position: absolute;
    top: 0;
    left: 0;
}

.logo__redirect-pb {
    display: inline-flex;
    width: 60px;
    height: 50px;
}

.logo__redirect-blago {
    display: inline-flex;
    width: 60px;
    height: 50px;
}

.header__nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.header__nav__item {
    padding: 0 5px 1rem 5px;
    color: #424242;
}
