.main__section-card__article {
    width: 25%;
}

.section-program--789px > .main__section-card__article:first-child {
    padding-right: 0.5rem;
}

.section-program--789px > .main__section-card__article:last-child {
    padding-right: 0;
    padding-left: 0.5rem;
}

.section-program--789px > .main__section-card__article:nth-child(n+2):nth-child(-n+3) {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.section-donated-costs{
    padding: 0 10% 110px 10%;
}

.section-history-789px__article{
    width: 50%;
    padding-bottom: 0;
}

.section-help__article{
    width: 100%;
}

.section-help__article{
    margin: 0 0 110px 0;
}

@media (min-width: 1550px) {
    .page-left-right-padding{
        padding: 0 20%;
    }

    .main__section-text{
        padding: 0 20% 0 0;
    }

    .section-donated-costs{
        padding: 0 20% 110px 20%;
    }
}