@font-face {
    font-family: "Montserrat";
    font-display: swap;
    src: url('../fonts/montserrat/montserrat-v13-cyrillic_latin-700.woff2') format('woff2'),
    url('../fonts/montserrat/montserrat-v13-cyrillic_latin-700.woff') format('woff'),
    url('../fonts/montserrat/montserrat-v13-cyrillic_latin-700.ttf') format('truetype'),
    url('../fonts/montserrat/montserrat-v13-cyrillic_latin-700.eot') format('truetype');
    font-weight: 700;
    font-style: normal;
    unicode-range: U+0020-04FF;
}

@font-face {
    font-family: "Rawline";
    src: url("../fonts/rawline/Rawline-Regular-latin-cyrillic.woff2") format("woff2"),
    url("../fonts/rawline/Rawline-Regular-latin-cyrillic.woff") format("woff"),
    url("../fonts/rawline/Rawline-Regular-latin-cyrillic.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    unicode-range: U+0020-04FF;
}

body {
    font-weight: normal;
    font-family: "Rawline", serif;
    color: #424242
}