.i__gray-layer {
    height: 600px;
}

.i__main__section-text__h2 {
    width: 90%;
    font-size: 2.6rem;
}

.i__slide--content {
    top: 300px;
}

#two .i__slide--content {
    top: 260px;
}

.i__section-news--button-and-arrows-789px {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.i__button-donated {
    width: 40%;
}

.i__section__arrow--left {
    padding: 0 24px 0 0;
}

.i__main__section-text {
    bottom: 80px;
    top: auto;
}

.i__main--carousel {
    height: 600px;
}

.i__main__img {
    height: 600px;
}

.i__main__section--gray-background {
    padding: 80px 0 110px 0;
}

.i__main__section-fund-h2 {
    font-size: 2.6rem;
    padding-bottom: 2.6rem;
    padding-top: 0;
}

.i__main__section-fund--count-donated {
    width: 120%;
    max-width: 430px;
    font-size: 2.6rem;
}

.i__section-fund__span--count-donated {
    font-size: 2.6rem;
    letter-spacing: 15px;
}

.i__section-gray-background--width-789x {
    width: 60%;
}

.i__main__section-program--info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 80px 0 40px 0;
}

.i__main__section__h2 {
    padding: 0;
    font-size: 2.6rem;
}

.i__main__section-program--show-all {
    padding: 0;
    align-self: center;
}

.i__section-program--789px {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.i__main__section-card__article {
    width: 50%;
    padding: 0 0 80px 0;
    display: flex;
    flex-direction: column;
}

.i__section-program--789px > .i__main__section-card__article:nth-child(odd) {
    padding-right: 0.5rem;
}

.i__section-program--789px > .i__main__section-card__article:nth-child(even) {
    padding-left: 0.5rem;
}

.i__padding-bottom30px {
    padding-bottom: 30px;
}

.i__section__h2--padding {
    padding: 80px 0 40px 0;
}

.i__section-costs {
    margin-bottom: 80px;
}

.i__main__section-history--info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 40px;
}

.i__section-history-789px__article {
    width: 100%;
    padding: 0 0 80px 0;
}

.i__section-program__img {
    margin-bottom: 40px;
    height: 320px;
}

.i__section-history__img {
    height: 340px;
}

.i__section-help__img {
    height: 410px;
}

.i__main__section__h2--789px {
    padding: 56px 0 40px 0;
}

.i__section-help--content {
    width: 70%;
}