/*.i__main__section-news {*/
/*position: relative;*/
/*width: 100%;*/
/*}*/

.i__main--carousel {
    position: relative;
    height: 460px;
    width: 100%;
    background: linear-gradient(to right, rgba(1, 1, 1, 0.1), rgba(1, 1, 1, 0.1));;
}

.i__main__img {
    position: relative;
    height: 460px;
    width: 100vw;
    object-fit: cover;
    object-position: 60%;
}

.section__img--arrows {
    position: relative;
    z-index: inherit;
}

.section__img--arrows:hover {
    filter: sepia(40%) brightness(146%);
    -webkit-filter: sepia(40%) brightness(146%);
    -moz-filter: sepia(40%) brightness(146%);
}

.i__slide--container {
    position: absolute;
    display: flex;
    flex-direction: column;
}

.i__slide--content {
    position: relative;
    top: 150px
}

#two .i__slide--content {
    top: 80px
}

.i__gray-layer {
    width: 100%;
    height: 460px;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.2), rgba(1, 1, 1, 0.4));
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

#i1, #i2 {
    display: none;
}

#two {
    position: absolute;
}

#i1:checked ~ #one,
#i2:checked ~ #two {
    display: block;
    z-index: 10;
    animation: scroll 1s ease-in;
}

#i1:not(:checked) ~ #one,
#i2:not(:checked) ~ #two {
    display: none;
}

@keyframes scroll {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

.i__arrows-1080px-full {
    display: none;
}

.i__main__section-text__h2 {
    padding: 0 0 24px 0;
    font-family: "Montserrat", serif;
    font-size: 2rem;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
}

.i__arrows-320px-1079px {
    display: flex;
    align-items: baseline;
}

.i__button-donated {
    text-decoration: none;
    border-radius: 8px;
    background-image: linear-gradient(to right, #1eb80f, #73da4e);
    padding: 1rem;
    color: #fff;
    letter-spacing: 0.3px;
    text-align: center;
    width: 100%;
}

.i__button-donated--text {
    font-size: 1.3rem;
    font-family: "Montserrat", serif;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.3px;
    text-align: center;
    color: #ffffff;
    padding: 15px 10%;
}

.i__section__arrow--left {
    padding: 24px 24px 0 0;
}

.i__main__section--gray-background {
    background-color: #fafafa;
    padding-bottom: 56px;
}

.i__main__section-fund-h2 {
    padding-top: 40px;
    padding-bottom: 1.6rem;
    font-family: "Montserrat", serif;
    font-size: 2rem;
    letter-spacing: normal;
    color: #282828;
}

.i__main__section-fund--downloadPDF {
    color: #24bb13;
    text-decoration: none;
}

.i__main__section-fund--info-donated {
    padding: 1.5rem 0;
}

.i__main__section-fund--count-donated {
    color: #24bb13;
    font-family: "Montserrat", serif;
    font-size: 2rem;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.i__section-fund__span--count-donated {
    font-family: "Montserrat", serif;
    font-size: 2rem;
    letter-spacing: 5px;
}

.i__main__section-fund--description {
    font-family: "Montserrat", serif;
    font-size: 1.3rem;
    color: #282828;
    padding-top: 1.5rem;
}

.i__main__section__h2 {
    font-family: "Montserrat", serif;
    font-size: 2rem;
    padding: 2.5rem 0 2rem 0;
}

.i__main__section-program--show-all {
    display: block;
    font-family: "Montserrat", serif;
    font-size: 1rem;
    letter-spacing: normal;
    color: #24bb13;
    padding-bottom: 1.5rem;
    text-decoration: none;
}

.i__main__section-card__article {
    width: 100%;
    padding-bottom: 56px;
}

.i__section-program__img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: 30%;
    margin-bottom: 1.5rem;
}

.i__section-program__article__h3 {
    font-family: "Montserrat", serif;
    font-size: 1.3rem;
    color: #282828;
    padding-bottom: 16px;
}

.i__main__section__article {
    border-radius: 8px;
    background-color: #f8f8f8;
    padding: 8px 16px;
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.i__main__section__article:last-child {
    margin: 0;
}

.i__main__section-costs__article__p {
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: row;
    flex-wrap: wrap;
}

.i__main__section__article--time {
    color: #a1a1a1;
}

.i__main__section-donated__article--name {
    color: #424242;
    font-weight: bold;
}

.i__main__section-donated__article__p--sum {
    color: #24bb13;
    font-family: "Montserrat", serif;
    padding-bottom: 10px;
}

.i__main__section__article--gray-text {
    color: #a1a1a1;
    font-weight: normal;
}

.i__main__section__article--h3 {
    color: #282828;
    font-weight: normal;
}

.i__main__section__article__p--costs {
    color: #24bb13;
    font-family: "Montserrat", serif;
    font-weight: bold;
}

.i__section-history-789px__article {
    padding: 0 0 56px 0;
}

.i__padding-bottom10px {
    padding-bottom: 10px;
}

.i__section-costs {
    margin-bottom: 40px;
}

@media (min-width: 650px) {
    .i__section-donated--info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: flex-end;
    }

    .i__main__section-donated__article__p--sum {
        display: flex;
        align-items: flex-end;
    }
}

