.i__main__section-text {
    width: 50%;
    margin-left: 50%;
    padding: 0 105px 0 0;
    top: 112px;
}

.i__main__section-text__h2 {
    width: 100%;
    font-size: 3rem;
    padding: 0 0 32px 0;
}

.i__button-donated {
    width: 60%;
}

.i__main--carousel {
    height: 600px;
}

.i__arrows-320px-1079px {
    display: none;
}

.i__arrows-1080px-full {
    display: block;
    padding: 0 0 32px 0;
}

.i__section-fund--left {
    width: 50%;
    padding-right: 10%;
}

.i__section-fund--right {
    width: 50%;
}

.i__section-gray-background--width-789x {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.i__main__section-fund--count-donated {
    width: 100%;
}

.i__section-fund__span--count-donated {
    letter-spacing: 15px;
}

.i__main__section-card__article {
    width: calc(100% / 3);
}

.i__section-program--789px > .i__main__section-card__article:nth-child(odd) {
    padding-right: 0;
}

.i__section-program--789px > .i__main__section-card__article:nth-child(even) {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.i__section-program--789px > .i__main__section-card__article:nth-child(3n) {
    padding-left: 0.5rem;
}

.i__section-program--789px > .i__main__section-card__article:nth-child(3n+1) {
    padding-right: 0.5rem;
}

.i__padding-bottom30px {
    padding-bottom: 30px;
}

.i__section-donated-costs {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 0 105px 110px 105px;
}

.i__section-donated {
    width: 50%;
}

.i__section-costs {
    width: 50%;
}

.i__section-donated-costs > .page-left-right-padding {
    padding: 0 10% 0 0;
}

.i__section-history__div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.i__section-history-789px__article {
    width: 50%;
    padding: 0 0 110px 0;
    display: flex;
    flex-direction: column;
}

.i__section-history--2-article {
    width: 50%;
    margin-left: 15px;
}

.i__main__section__h2--789px {
    padding: 80px 0 40px 0;
}

.i__section-program__img {
    height: 280px;
}

.i__section-help__article {
    width: 100%;
    flex-direction: row;
}

.i__section-help--content {
    width: 50%;
}

.i__section-help__img {
    width: 50%;
    padding: 0 48px 0 0;
    margin: 0;
}

.i__main__section__h2 {
    font-size: 3rem;
}