header {
    margin: 28px 0 24px 0;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.page-left-right-padding {
    padding: 0 32px;
}

.logo {
    position: relative;
    padding: 0 0 23px 0;
}

.logo--redirect {
    position: absolute;
    top: 0;
    left: 0;
}

.logo__redirect-pb {
    display: inline-flex;
    width: 60px;
    height: 50px;
}

.logo__redirect-blago {
    display: inline-flex;
    width: 60px;
    height: 50px;
}

.header__nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.header__nav__item {
    margin: 0 10px 0 5px;
    color: #424242;
    text-decoration: none;
}

.header__nav__item:first-child {
    padding-bottom: 1rem;
}

.hr--after-section {
    margin: 0;
    border: solid 0.5px #d7d7d7;
}

@media (min-width: 388px) and (max-width: 499px) {
    .page-left-right-padding {
        padding-left: 17%;
        padding-right: 17%;
    }

    .header__a--about-fund {
        margin-right: 10%;
    }
}

@media (min-width: 500px) and (max-width: 788px) {
    .page-left-right-padding {
        padding-left: 25%;
        padding-right: 25%;
    }
}

@media (min-width: 600px) {
    .header__a--about-fund {
        margin-right: 0;
        order: 1;
    }
}

.header__nav__item:hover {
    color: #24bb13;
    transition: .2s all;
}