.need-help__main {
    padding-top: 40px;
    padding-bottom: 56px;
    margin-top: 24px;
    background-color: #f8f8f8;
}

.main__section--left {
    padding-bottom: 56px;
}

.main__section__h1 {
    font-family: "Montserrat", serif;
    font-size: 2rem;
    padding-bottom: 24px;
    line-height: 1.2;
    color: #282828;
}

.main__section__p {
    max-width: 525px;
}

.need-help__section__article {
    position: relative;
    background-color: #fff;
    margin-bottom: 16px;
    width: 100%;
}

.section__article__a {
    text-decoration: none;
    color: #282828;
}

.article--content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.article__img {
    padding: 36px 16px 36px 24px;
}

.article__h2 {
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    padding-right: 50px;
    font-family: "Montserrat", serif;
    font-size: 16px;
}

.article--content:hover .article__h2, .article--arrow-next:hover + .article--content > .article__h2 {
    color: #000000;
}

.article--arrow-next {
    position: absolute;
    right: 1rem;
    bottom: calc(50% - 20px);
    transition: .2s all;
}

.need-help__section__article:hover > .section__article__a > .article--arrow-next {
    filter: invert(64%) sepia(50%) saturate(2%) hue-rotate(318deg) brightness(91%) contrast(91%);
}

.need-help__section__article:active > .section__article__a > .article--arrow-next {
    filter: invert(43%) sepia(91%) saturate(1831%) hue-rotate(82deg) brightness(109%) contrast(85%);
}

.need-help__section__article:last-child {
    margin: 0;
}

.input--select-page {
    display: none;
}

#select-need-help-page:checked + #header__label--need-help {
    color: #24bb13;
}

#select-need-help-page:not(:checked) + #header__label--need-help {
    color: #424242;
}

#select-need-help-page:checked ~ .need-help__main,
#select-treat-child-page:checked ~ .treat-child-page,
#select-help-legal-entities-page:checked ~ .help-legal-entities-page,
#select-cooperation-page:checked ~ .cooperation-page,
#select-application-status-page:checked ~ .application-status-page,
#select-processing-personal-data-page:checked ~ .processing-personal-data {
    display: block;
}

#select-need-help-page:not(:checked) ~ .need-help__main,
#select-treat-child-page:not(:checked) ~ .treat-child-page,
#select-help-legal-entities-page:not(:checked) ~ .help-legal-entities-page,
#select-cooperation-page:not(:checked) ~ .cooperation-page,
#select-application-status-page:not(:checked) ~ .application-status-page,
#select-processing-personal-data-page:not(:checked) ~ .processing-personal-data {
    display: none;
}

.nh__checkbox--container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 1rem;
    cursor: pointer;
}

@media (min-width: 789px) {
    .need-help__main {
        padding-top: 80px;
        padding-bottom: 110px;
    }

    .main__section__h1 {
        font-size: 2.7rem;
        padding-bottom: 40px;
        line-height: 1.2;
    }

    .article__img {
        padding: 24px 16px 24px 24px;
    }

    .nh__section--personal-data {
        display: flex;
        flex-direction: column;
        width: 70%;
    }

    .nh__checkbox--container {
        flex-direction: row;
        align-items: center;
    }
}

@media (min-width: 1024px) {
    #select-need-help-page:checked ~ .need-help__main {
        display: flex;
        flex-direction: row;
    }

    .tc__section-info__h2 {
        font-size: 46px !important;
        padding-bottom: 40px !important;
    }

    .tc__main__section--info {
        padding-top: 80px !important;
        padding-bottom: 110px !important;
    }

    .need-help__main {
        display: flex;
        flex-direction: row;
    }

    .main__section--left {
        width: 50%;
        margin-right: 5%;
    }

    .main__section--right {
        width: 50%;
    }

    .main__section__p {
        max-width: none;
    }

    header > .logo {
        margin-right: 2.5%;
    }
}