.tc__main__section--info {
    padding-bottom: 56px;
    padding-top: 40px;
    background-color: #f8f8f8;
}

.tc__main__section__img {
    padding-bottom: 40px;
}

.tc__section-info__h2 {
    display: block;
    font-family: "Montserrat", serif;
    font-size: 1.9rem;
    color: #282828;
    line-height: 1.1;
    padding-bottom: 24px;
}

.tc__section__list {
    list-style: disc;
    padding: 0 0 24px 25px;
}

.tc__section--form {
    padding-top: 40px;
    padding-bottom: 56px;
    position: relative;
}

.tc__section-form__h2 {
    font-family: "Montserrat", serif;
    font-size: 1.4rem;
    letter-spacing: 0.3px;
    line-height: normal;
    color: #282828;
}

.tc__form__fieldset {
    position: relative;
    padding-top: 24px;
    padding-bottom: 56px;
}

.tc__form__fieldset:nth-child(even) {
    padding-bottom: 24px;
}

.tc__form__label {
    display: block;
    margin: 16px 0;
    line-height: 1;
    width: 100%;
}

.tc__form__label:first-child {
    padding-top: 0;
}

.tc__form__input {
    border: 1px solid #757575;
    border-radius: 5px;
    padding: 1rem 24px;
    width: 80%;
    max-width: 370px;
    font-size: 1rem;
}

.tc__input--FIO {
    max-width: 540px;
}

.tc__form__input:focus, .tc__form__input:focus + .tc__p--input-file-value {
    outline: #24bb13 1px solid;
}

.tc__form__input--date {
    background: #fff url(../../img/calender.svg) 95% 50% no-repeat;
}

.tc__form__input--date::-webkit-inner-spin-button {
    display: none;
}

.tc__form__input--date::-webkit-calendar-picker-indicator {
    opacity: 0;
    height: 15px;
    padding: 0;
    margin: 0;
}

.tc__form__select {
    max-width: 420px;
}

.tc__form__input:hover {
    border: solid 1px #424242;
}

.tc__input--file-container {
    position: relative;
}

.tc__input--file {
    position: absolute;
    opacity: 0;
    z-index: 10;
}

.tc__p--input-file-value {
    position: relative;
    border: 1px solid #757575;
    border-radius: 5px;
    padding: 1.2rem 25px;
    width: 100%;
    max-width: 420px;
    margin: 0;
    background: #fff url("../../img/file.svg") 95% 50% no-repeat;
}

.tc__section-form__p {
    padding-top: 16px;
}

.tc__input--checkbox {
    position: absolute;
    opacity: 0;
    z-index: -10;
}

.tc__label--checkbox {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.tc__label--checkbox::before {
    content: "";
    display: inline-block;
    cursor: pointer;
    color: #fff;
    text-align: center;
    width: 22px;
    height: 22px;
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 4px;
    transition: .4s ease;
    margin-right: 16px;
}

.tc__label--checkbox:active::before {
    transform: scale(0);
}

.tc__checkbox--confirm-information {
    margin-left: 5px;
    font-size: 15px;
    font-weight: normal;
    line-height: 1.07;
    letter-spacing: normal;
    color: #24bb13;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.tc__checkbox--confirm-information:hover {
    color: #3fdb2d;
}


.tc__input--checkbox:checked + .tc__label--checkbox::before {
    border-color: #24bb13;
    text-align: center;
    content: "\2714";
    width: 22px;
    height: 22px;
    background-color: #24bb13;
}

.tc__button-send {
    text-decoration: none;
    border-radius: 8px;
    background-image: linear-gradient(to right, #1eb80f, #73da4e);
    padding: 1rem;
    color: #fff;
    letter-spacing: 0.3px;
    text-align: center;
    width: 100%;
    display: block;
    max-width: 420px;
}

.tc__button-send--text {
    font-size: 1.3rem;
}



@media (min-width: 789px) {
    .tc__section__div--789px {
        display: flex;
        align-items: center;
    }

    .tc__main__section__img {
        display: block;
        order: 2;
        padding: 0;
        margin-left: 30%;
        margin-right: 20px;
    }
}

@media (min-width: 1366px) {
    .tc__form__fieldset--inputs-row {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;

    }

    .tc__fieldset__div--input-rows {
        width: 50%;
        padding-right: 32px;
        max-width: 495px;
    }

    .tc__input--sum {
        padding: 17px 24px
    }
}

@media (min-width: 1600px) {
    .tc__main__section__img {
        margin-left: 40%;
    }
}


