.about-fund--content {
    padding-top: 40px;
    padding-bottom: 56px;
    margin-top: 24px;
    background-color: #f8f8f8;
}

.section__p{
    max-width: 560px;
}

.about-fund__h1 {
    font-family: "Montserrat", serif;
    font-size: 1.9rem;
    padding-bottom: 1.9rem;
    color: #282828;
}

.about-fund__section__article {
    margin: 56px 0 56px 0;
}

.article__h2 {
    font-family: "Montserrat", serif;
    font-size: 21px;
    padding-bottom: 24px;
    color: #282828;
}

.article__figure-portrait {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    max-width: 330px;
    justify-content: space-between;
    align-items: center;
}

.img-circle {
    padding: 0 24px 0 0;
    clip-path: circle(49px at 50px 50px);
}

.figure-member {
    margin-bottom: 24px;
}

.article__list {
    list-style: disc;
    padding-left: 25px;
    max-width: 780px;
}

.article__p--description{
    padding-bottom: 16px;
}

.about-fund__section__article:last-child{
    margin-bottom: 0;
}

.hr--after-section{
    margin: 0;
    border: solid 0.5px #d7d7d7;
}


/*@media (min-width: 1550px) {*/
    /*.page-left-right-padding {*/
        /*padding: 0 20%;*/
    /*}*/
/*}*/